[submodule "libqnearbyshare/QtZeroConf"]
	path = libqnearbyshare-server/QtZeroConf
	url = https://github.com/jbagg/QtZeroConf.git
[submodule "test/googletest"]
	path = test/googletest
	url = https://github.com/google/googletest.git
